<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account SideBar</title>
</head>
<body>
<div class="card">
    <div class="card-header">
        <h6>會員中心</h6>
    </div>
    <div class="card-body">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a href="/houseship/member/myinfo" class="nav-link account">帳號管理</a></li>
            <li class="nav-item"><a href="/houseship/account/myorder/1" class="nav-link order">我的訂單</a></li>
            <li class="nav-item"><a href="/houseship/account/forum/My/myforum" class="nav-link forum">討論區文章</a></li>
            <li class="nav-item"><a href="/houseship/account/host/ownedhouse" class="nav-link house">房東專區</a></li>
        </ul>
    </div>
</div>
</body>
</html>