<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Header Section</title>
</head>

<body>
    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="#">
                                <img src="/houseship/images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li><a href="./index.html">住宿</a></li>
                                    <li><a href="#">討論區</a></li>
                                    <li><a href="#">房東專區</a></li>
                                    <li class="nav-right">
                                        <a href="#"><i class="fa fa-user-circle"></i></a>
                                        <ul class="dropdown">
                                            <li><a class="dropdown-item" href="#">帳號管理</a></li>
                                            <li><a class="dropdown-item" href="#">我的訂單</a></li>
                                            <li><a class="dropdown-item" href="#">登出</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
</body>

</html>