<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="HouseShip Home">
<meta name="keywords" content="#">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>討論版</title>
<link rel="stylesheet" href="/houseship/css/style-ui-link.css">
<body>
	<!-- Page Preloder -->
	<div th:replace="/ui/page-preloder.html"></div>

	<!-- Offcanvas Menu Section Begin -->
	<div th:replace="/ui/offcanvas-menu-section.html"></div>

	<!-- Header Section Begin -->
	<header th:replace="/ui/header-section.html"></header>

	<!--表單內容可以從這開始 -->
	<!-- Breadcrumb Section Begin -->
	<!-- 	<div class="breadcrumb-section"> -->
	<!-- 		<div class="container"> -->
	<!-- 			<div class="row"> -->
	<!-- 				<div class="col-lg-12"> -->
	<!-- 					<div class="breadcrumb-text"> -->
	<!-- 						<h2>討論區</h2> -->
	<!-- 						<div class="bt-option"> -->
	<!-- 							<a href="./home.html">首頁</a> <span>討論總攬</span> -->
	<!-- 						</div> -->
	<!-- 					</div> -->
	<!-- 				</div> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
	<!-- 	<!-- Breadcrumb Section End -->
	-->
	<!-- Blog Details Hero Section Begin -->
	<section class="blog-details-hero set-bg" data-setbg="images/blog/blog-details/blog-details-hero.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="bd-hero-text">
						<span th:text="*{forum.theme}"></span>
<!-- 						<h2 th:text="*{forum.title}"></h2> -->
						<ul>
							<li class="b-time"><i th:text="${#temporals.format(forum.postTime,'yyyy-MM-dd HH:mm')}"></i></li>
							<li><i th:text="*{forum.account}"></i></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Details Section Begin -->
	<section class="blog-details-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="blog-details-text">
						<div class="bd-title">
<!-- 							<div class="bm-item"> -->
								<h4 th:text="*{forum.title}"></h4>
								<p th:text="*{forum.content}"></p>
<!-- 								<p>In Nepal your overseas adventure travel is going to be -->
<!-- 									fascinating. You will get to see the Himalayan Mountains and -->
<!-- 									experience all that the rich Nepalese culture has to offer. -->
<!-- 									They are an amazing people who have managed to hang on to their -->
<!-- 									own culture and beliefs longer than most other countries. When -->
<!-- 									overseas adventure travel takes you to Nepal you will have the -->
<!-- 									chance to see all of the fantastic and one of a kind lakes and -->
<!-- 									forests and you can even spend days or weeks camping out in -->
<!-- 									their forests with a specialized guide. And the waterfalls in -->
<!-- 									Nepal are to die for, you will never see anything more gorgeous -->
<!-- 									in your life as their waterfalls! This should be at the top of -->
<!-- 									your overseas adventure travel destination list for sure!</p> -->
							</div>
							
							<!--                         <div class="bd-more-text"> -->
							<!-- <!--                             <div class="bm-item"> -->
							<!-- <!--                                 <h4>If you live in New York City</h4> -->
							<!-- <!--                                 <p>You know all about the traffic there. Getting places is often next to impossible, -->
							<!-- <!--                                     even with the gazillion yellow cabs. If you’re like me you often look with envy at -->
							<!-- <!--                                     those shiny limousines with their unformed drivers and wish you could sit in one. -->
							<!-- <!--                                     Well, you can. New York limo service is more affordable than you think, whether it’s -->
							<!-- <!--                                     for Newark airport transportation, LaGuardia airport transportation, or to drive -->
							<!-- <!--                                     wherever you wish to go.</p> -->
							<!-- <!--                             </div> -->
							<!--                         </div> -->
							                        <div class="tag-share">
							                            <div class="tags">
							                                 <i class="bi bi-hand-thumbs-up"></i>
							                                <a href="#">Camping</a>
							                                <a href="#">Event</a>
							                            </div>
							                            <div class="social-share">
							                                <span>Share:</span>
							                                <a href="#"><i class="fa fa-facebook"></i></a>
							                                <a href="#"><i class="fa fa-twitter"></i></a>
							                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
							                                <a href="#"><i class="fa fa-instagram"></i></a>
							                                <a href="#"><i class="fa fa-youtube-play"></i></a>
							                            </div>
						</div>
						<div class="comment-option">
							<h4>2 Comments</h4>
							<div class="single-comment-item first-comment">
								<div class="sc-author">
									<img src="img/blog/blog-details/avatar/avatar-1.jpg" alt="">
								</div>
								<div class="sc-text">
									<span th:text="*{forum.PostTime}">27 Aug 2019</span>
									<h5>Brandon Kelley</h5>
									<p>Neque porro qui squam est, qui dolorem ipsum quia dolor
										sit amet, consectetur, adipisci velit, sed quia non numquam
										eius modi tempora. incidunt ut labore et dolore magnam.</p>
									<a href="#" class="comment-btn">Like</a> <a href="#"
										class="comment-btn">Reply</a>
								</div>
							</div>
							<div class="single-comment-item reply-comment">
								<div class="sc-author">
									<img src="img/blog/blog-details/avatar/avatar-2.jpg" alt="">
								</div>
								<div class="sc-text">
									<span>27 Aug 2019</span>
									<h5>Brandon Kelley</h5>
									<p>Neque porro qui squam est, qui dolorem ipsum quia dolor
										sit amet, consectetur, adipisci velit, sed quia non numquam
										eius modi tempora. incidunt ut labore et dolore magnam.</p>
									<a href="#" class="comment-btn like-btn">Like</a> <a href="#"
										class="comment-btn reply-btn">Reply</a>
								</div>
							</div>
							<div class="single-comment-item second-comment ">
								<div class="sc-author">
									<img src="img/blog/blog-details/avatar/avatar-3.jpg" alt="">
								</div>
								<div class="sc-text">
									<span>27 Aug 2019</span>
									<h5>Brandon Kelley</h5>
									<p>Neque porro qui squam est, qui dolorem ipsum quia dolor
										sit amet, consectetur, adipisci velit, sed quia non numquam
										eius modi tempora. incidunt ut labore et dolore magnam.</p>
									<a href="#" class="comment-btn">Like</a> <a href="#"
										class="comment-btn">Reply</a>
								</div>
							</div>
						</div>
						<div class="leave-comment">
							<h4>Leave A Comment</h4>
							<form action="#" class="comment-form">
								<div class="row">
									<div class="col-lg-6">
										<input type="text" placeholder="Name">
									</div>
									<div class="col-lg-6">
										<input type="text" placeholder="Email">
									</div>
									<div class="col-lg-12 text-center">
										<input type="text" placeholder="Website">
										<textarea placeholder="Messages"></textarea>
										<button type="submit" class="site-btn">Send Message</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Details Section End -->




	<!-- 						<div class="row"> -->
	<!-- 							<div class="col-lg-8 mb-5 mb-lg-0"> -->
	<!-- 								<div class="blog_left_sidebar"> -->
	<!-- 									<article th:each="f: ${forumList}" class="blog_item"> -->
	<!-- 										<div class="blog_item_img"> -->
	<!-- 											<img class="card-img rounded-0" -->
	<!-- 												th:href="@{/ui/downloadImage/{f.fid}(fid=${f.fid})}"> -->
	<!-- 											<a href="#" class="blog_item_date"> </a> -->
	<!-- 										</div> -->
	<!-- 										<div class="blog_details"> -->
	<!-- 											<a class="d-inline-block" -->
	<!-- 												href="/ui/querybyid/{fid}(fid=${f.fid})}"> -->
	<!-- 												<h2 th:text="${f.title}"></h2> -->
	<!-- 											</a> -->
	<!-- 											<div class="row"> -->
	<!-- 												<div class="col-2 text-truncate"> -->
	<!-- 													<p th:text="${f.content}"> -->
	<!-- 														<a class="read-more secondary-link" -->
	<!-- 															href="single-blog.html">顯示更多</a> -->
	<!-- 													</p> -->
	<!-- 												</div> -->
	<!-- 											</div> -->

	<!-- 											<ul class="blog-info-link"> -->
	<!-- 												<li><i class="fa fa-user" th:text="${f.account}"></i></li> -->
	<!-- 												<li><i class="fa fa-comments" th:text="${f.postTime}"></i></li> -->

	<!-- 												<li><i class="fa fa-user" th:text="${f.click}"></i></li> -->


	<!-- 											</ul> -->
	<!-- 										</div> -->
	<!-- 									</article> -->
	<!-- 								</div> -->
	<!-- 							</div> -->
	<!-- 						</div> -->
	<!-- 	</div> -->
	<!-- 	</section> -->
	<!-- Mobile Menu -->




	<!-- 						<td class="text-center"><a href="#" -->
	<!-- 							th:href="@{/ui/detail/{fid}(fid=${f.fid})}"><input -->
	<!-- 								type='submit' class='btn btn-primary' value='修改紀錄'></a></td> -->
	<!-- 						<td class="text-center"><a href="#" -->
	<!-- 							th:href="@{/ui/update/{fid}(fid=${f.fid})}"><input -->
	<!-- 								type='submit' class='btn btn-primary' value='編輯'></a></td> -->
	<!-- 							th:href="@{/ui/delete/{fid}(fid=${f.fid})}"><input -->
	<!-- 								type='submit' class='btn btn-danger' value='刪除'></a></td> -->
	<!--   main end     -->
	<!-- Footer Section Begin -->
	<footer th:replace="/ui/footer-section.html"></footer>
	<!-- Js Plugins -->
	<div th:replace="/ui/js.html"></div>
	<!-- All JS Custom Plugins Link Here here -->
	<script src="./js/forum/vendor/modernizr-3.5.0.min.js"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script src="./js/forum/vendor/jquery-1.12.4.min.js"></script>
	<script src="./js/forum/vendor/popper.min.js"></script>
	<script src="./js/forum/vendor/bootstrap.min.js"></script>
	<!-- Jquery Mobile Menu -->
	<script src="./js/forum/vendor/jquery.slicknav.min.js"></script>
	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script src="./js/forum/vendor/owl.carousel.min.js"></script>
	<script src="./js/forum/vendor/slick.min.js"></script>
	<script src="./js/forum/vendor/price_rangs.js"></script>
	<!-- One Page, Animated-HeadLin -->
	<script src="./js/forum/vendor/wow.min.js"></script>
	<script src="./js/forum/vendor/animated.headline.js"></script>
	<!-- Scrollup, nice-select, sticky -->
	<script src="./js/forum/vendor/jquery.scrollUp.min.js"></script>
	<script src="./js/forum/vendor/jquery.nice-select.min.js"></script>
	<script src="./js/forum/vendor/jquery.sticky.js"></script>
	<script src="./js/forum/vendor/jquery.magnific-popup.js"></script>
	<!-- contact js -->
	<script src="./js/forum/vendor/contact.js"></script>
	<script src="./js/forum/vendor/jquery.form.js"></script>
	<script src="./js/forum/vendor/jquery.validate.min.js"></script>
	<script src="./js/forum/vendor/mail-script.js"></script>
	<script src="./js/forum/vendor/jquery.ajaxchimp.min.js"></script>
	<!-- Jquery Plugins, main Jquery -->
	<script src="./js/forum/vendor/plugins.js"></script>
	<script src="./js/forum/vendor/main.js"></script>
</body>

</html>