<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>HouseShip.com 訂單管理系統</title>
    <link rel="stylesheet" href="/houseship/css/style-admin-link.css">
    <style>
        .dataTable-table > thead > tr > th {
            text-align: center;
            font-size: 18px;
        }

        .dataTable-table tbody tr td {
            text-align: center;
            font-size: 16px;
        }

        .order-option {
            margin-bottom: 10px;
        }

        .order-option button, .order-option div, .order-option a {
            margin-right: 20px;
            font-size: 16px;
        }

        #searchDiv {
            font-size: 18px;
        }

        .table-name {
            font-size: 18px;
        }

        #downloadDropdown {
            color: black;
            border: 1px solid black;
            margin-right: 0;
        }

        .orderDetail {
            margin-top: 10px;
            border: 1px solid #dae4ec;
            text-align: left;
        }
    </style>
</head>
<body class="sb-nav-fixed">

<header th:replace="/admin/header.html"></header>

<div id="layoutSidenav">

    <nav th:replace="/admin/sidebar.html"></nav>

    <div id="layoutSidenav_content">
        <!--   main start(由此放入各自的內容)   -->
        <main>
            <!-- 從這邊開始改 -->
            <div class="container-fluid px-4">
                <h1 class="mt-4">訂單管理系統</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Order Management</li>
                </ol>

                <div class="card mb-4" style="border: 0" id="searchDiv">
                    <form action="search" method="post">
                        依入住日期查詢 <input type="date" name="date1">~ <input type="date" name="date2"> <input
                            type="submit" name="searchDate" value="查詢">
                    </form>
                </div>

                <div class="card mb-4">
                    <div class="card-header table-name">
                        <i class="fas fa-table me-1"></i> 訂單總覽
                    </div>
                    <div class="card-body">
                        <!--表單內容可以從這開始 -->
                        <div>
                            <div class="order-option">
                                <div style="display: inline">
                                    <input id="checkAll" type="checkbox" style="margin-left: 10px">
                                    <label for="checkAll">全選</label>
                                </div>
                                <!--                                <button class="btn-primary" type="button" name="new" data-bs-toggle="modal"-->
                                <!--                                        data-bs-target="#new_order1">新增-->
                                <!--                                </button>-->
                                <a class="btn btn-outline-primary" id="new" data-bs-toggle="modal"
                                   data-bs-target="#new_order1">新增</a>
                                <a class="btn btn-outline-warning" id="deleteAll">刪除選中</a>
                                <!--                                <input style="margin-left: 10px; display: inline" class="btn-warning"-->
                                <!--                                       type="submit" id="deleteAll" value="刪除選中">-->
                                <div class="dropdown" style="display: inline; float:right; margin-right: 0">
                                    <a class="nav-link dropdown-toggle" id="downloadDropdown" href="#"
                                       role="button" data-bs-toggle="dropdown" aria-expanded="false">下載選項
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="downloadDropdown">
                                        <li><a class="dropdown-item csv" href="#">CSV 檔案</a></li>
                                        <li><a class="dropdown-item json" href="#">JSON 檔案</a></li>
                                        <li><a class="dropdown-item sql" href="#">SQL 檔案</a></li>
                                    </ul>
                                </div>
                            </div>
                            <table id="datatablesSimple">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>訂單編號</th>
                                    <th>訂購會員</th>
                                    <th>成立時間</th>
                                    <th>金額</th>
                                    <th>狀態</th>
                                    <th>優惠序號</th>
                                    <th>選項</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order : ${orderList}">
                                    <td>
                                        <input class="checkMe" type="checkbox" name="check"
                                               th:value="${order.orderId }">
                                    </td>
                                    <td th:text="${order.orderId}"></td>
                                    <td th:text="${order.member.account}"></td>
                                    <td th:text="${#dates.format(order.orderTime, 'yyyy.MM.dd HH:mm')}"></td>
                                    <td th:text="${#numbers.formatDecimal(order.pay,3,'COMMA',0,'POINT')}"></td>
                                    <td th:text="${order.status.description}"></td>
                                    <td th:if="${order.coupon != null}" th:text="${order.coupon.couponCode}"></td>
                                    <td th:if="${order.coupon == null}">無</td>
                                    <td>
                                        <div style="justify-content: space-evenly; display: flex">
                                            <a
                                                    class="btn btn-outline-secondary"
                                                    data-bs-toggle="modal"
                                                    th:href="${'#showOrderDetail'+ order.orderId}"
                                                    role="button"
                                                    aria-expanded="false"
                                                    th:aria-controls="showOrderDetail"
                                            >
                                                檢視
                                            </a>
                                            <a class="btn btn-outline-primary">修改</a>
                                            <a class="btn btn-outline-danger"
                                               th:if="${!#strings.equals(order.status,'Cancel')}"
                                               th:href="@{'/admin/order/cancelOrder/' + ${order.orderId}}"
                                               onclick="cancelOrder(event)">取消</a>
                                            <a class="activeOption btn btn-outline-success"
                                               th:if="${#strings.equals(order.status,'Cancel')}"
                                               th:href="@{'/admin/order/activeOrder/' + ${order.orderId}}">啟用</a>
                                        </div>

                                        <div class="modal fade orderDetail" th:id="${'showOrderDetail' + order.orderId}"
                                             tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">檢視訂單明細</h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div>
                                                            <span class="descp">房屋編號:&nbsp;&nbsp;</span>
                                                            <span th:text="${order.orderDetail.houseInfo.houseNo}"></span>
                                                        </div>
                                                        <hr>
                                                        <div>
                                                            <span class="descp">入住日期:&nbsp;&nbsp;</span>
                                                            <span th:text="${order.orderDetail.checkInDate}"></span>
                                                        </div>
                                                        <hr>
                                                        <div>
                                                            <span class="descp">退房日期:&nbsp;&nbsp;</span>
                                                            <span th:text="${order.orderDetail.checkOutDate}"></span>
                                                        </div>
                                                        <hr>
                                                        <div>
                                                            <span class="descp">每晚房價:&nbsp;&nbsp;</span>
                                                            <span th:text="${#numbers.formatDecimal(order.orderDetail.housePrice,3,'COMMA',0,'POINT')}"></span>
                                                        </div>
                                                        <hr>
                                                        <div>
                                                            <span class="descp">房客人數:&nbsp;&nbsp;</span>
                                                            <span class="right"
                                                                  th:text="${order.orderDetail.guestNum}">房客人數</span>
                                                        </div>
                                                        <hr>
                                                        <div>
                                                            <span class="descp">預計抵達時間:&nbsp;&nbsp;</span>
                                                            <span class="right"
                                                                  th:text="${#dates.format(order.orderDetail.checkInTime, 'HH:mm')}"></span>
                                                        </div>
                                                        <hr>
                                                        <div>
                                                            <span class="descp">備註內容:&nbsp;&nbsp;</span>
                                                            <span class="right"
                                                                  th:text="${order.orderDetail.note}"></span>
                                                        </div>
                                                        <hr>
                                                        <div>
                                                            <span class="descp">房客資料:&nbsp;&nbsp;</span><br>
                                                            姓名: <span class="right"
                                                                      th:text="${order.orderDetail.guest.firstname} + ${order.orderDetail.guest.lastname}">旅客姓名</span><br>
                                                            連絡電話: <span class="right"
                                                                        th:text="${order.orderDetail.guest.phone}"></span><br>
                                                            email: <span class="right"
                                                                         th:text="${order.orderDetail.guest.email}"></span>
                                                        </div>
                                                        <hr>
                                                        <div>
                                                            <span class="descp">房東資訊</span><br>
                                                            帳號:&nbsp;&nbsp;<span class="right"
                                                                                 th:text="${order.orderDetail.houseInfo.member.account}"></span><br>
                                                            連絡電話:&nbsp;&nbsp;<span class="right"
                                                                                   th:text="${order.orderDetail.houseInfo.member.phone}">房東電話</span><br>
                                                            email:&nbsp;&nbsp;<span class="right"
                                                                                    th:text="${order.orderDetail.houseInfo.member.email}">房東信箱</span>
                                                        </div>
                                                        <hr>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a th:href="@{'/admin/order/edit/' + ${order.orderId}}"
                                                           class="btn btn-primary"
                                                           style="margin-left:10px;cursor:pointer;">編輯入住資料</a>
                                                        <a type="submit" class="" data-bs-dismiss="modal"
                                                           style="margin-left:10px;cursor:pointer;">關閉</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--   main end     -->

        <!-- new Modal -->
        <div class="modal fade" id="new_order1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- <form> -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">新增訂單</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="inputAccount" class="form-label"
                                       aria-describedby="account_status">會員帳號</label>
                                <input type="text" name="account" class="form-control" id="inputAccount"
                                       value="">
                                <div id="account_status" class=""></div>
                            </div>
                            <div class="form-group">
                                <label for="inputAccount" class="form-label"
                                       aria-describedby="house_status">房屋編號</label>
                                <input type="text" name="house" class="form-control" id="inputHouse"
                                       value="">
                                <div id="house_status" class=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="writeAccount" style="margin-left:10px;cursor:pointer;">自動輸入</a>
                        <button type="submit" class="btn btn-primary" id="next" data-bs-toggle="modal"
                                data-bs-target="#new_order2" data-bs-dismiss="modal" disabled>下一步
                        </button>
                        <a type="submit" class="" data-bs-dismiss="modal"
                           style="margin-left:10px;cursor:pointer;">取消</a>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>

        <!-- new Modal2 -->
        <div class="modal fade" id="new_order2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title model_center" id="myModalLabel2">新增訂單</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form novalidate>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label for="">會員帳號</label>
                                    <input type="text" name="memberid" class="form-control" id="memberid"
                                           disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">房屋編號</label>
                                    <input type="text" name="houseid" class="form-control" id="houseid"
                                           required=required>
                                </div>
                                <div class="form-group">
                                    <label for="">入住日期</label>
                                    <input type="text" name="chkindate" class="form-control"
                                           id="inputCheckIn" required>
                                    <input type="hidden" id="checkin_send" required>
                                </div>
                                <div class="form-group">
                                    <label for="">退房日期</label>
                                    <input type="text" name="chkoutdate" class="form-control"
                                           id="inputCheckOut" required>
                                    <input type="hidden" id="checkout_send" required>
                                </div>
                                <div class="form-group">
                                    <label for="">優惠序號</label>
                                    <input type="text" name="vid" class="form-control" id="vid">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="writeOrder" class="autoWrite"
                           style="margin-left:10px;cursor:pointer;">自動輸入</a>
                        <button type="submit" class="btn btn-secondary" id="back" data-bs-toggle="modal"
                                data-bs-target="#new_order1" data-bs-dismiss="modal">上一步
                        </button>
                        <button type="submit" class="btn btn-primary" id="neworder_send"
                        >完成
                        </button>
                        <a class="" data-bs-dismiss="modal" style="margin-left:10px;cursor:pointer;">取消</a>
                    </div>

                </div>
            </div>
        </div>

        <footer th:replace="/admin/footer.html"></footer>
    </div>
</div>
<!-- JS -->
<div th:replace="/admin/js.html"></div>
<script>
    function cancelOrder(e) {
        console.log('click');
        e.preventDefault();
        let msg = "是否取消該筆預訂?";
        if (confirm(msg) == true) {
            window.location = e.target.getAttribute("href");
        }
    }

    //帳號確認
    $("#inputAccount").keyup(checkAccount);

    function checkAccount() {
        $("#next").attr('disabled', true);
        var account = $("#inputAccount").val();
        if (account == "") {
            $("#inputAccount").attr('class', 'form-control is-invalid')
            $("#account_status").attr('class', 'invalid-feedback')
            $("#account_status").html("請輸入會員帳號");
            return
        }

        $.ajax({
            type: 'post',
            url: '/houseship/admin/order/checkAccount/' + account,
            dataType: 'text',
            // contentType: 'application/json',
            success: function (msg) {
                console.log("msg: " + msg);
                $("#account_status").empty("");
                if (msg == "") {
                    console.log("error");
                    $("#inputAccount").attr('class', 'form-control is-invalid')
                    $("#account_status").attr('class', 'invalid-feedback')
                    $("#account_status").html("帳號不存在");
                } else {
                    $("#inputAccount").attr('class', 'form-control is-valid')
                    $("#account_status").attr('class', 'valid-feedback')
                    $("#account_status").html("ok");
                    $("#memberid").val(account);
                    $("#next").attr('disabled', false);
                }
            }
        });
    }
</script>

</body>
</html>