<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="X-Frame-Options" content="SAMEORIGIN">
    <title>Map</title>

    <style>
        #map {
            height: 100%;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .mapLabel{
            background-color: white;
            color: black;
            font-size: 28px;
            border-radius: 3px;
        }
    </style>
</head>
<body>
<div id="map"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfx3SJ3744XiZVKLLoLTrAK2_ymXJ8R4E&callback=initMap"></script>

<script>

    let map;

    function initMap() {

        $.ajax({
            method: 'GET',
            url: '/houseship/house/map/latlng',
            async: 'true',
            dataType: "json",
            // data: jsonData,
            // contentType: 'application/json; charset=utf-8',

            success:function(jsonData){
                console.log('success');

                let marker;

                $(jsonData).each((index, value) => {
                    if(index === 1) {
                        const center = new google.maps.LatLng(value.lat, value.lng);
                        map = new google.maps.Map(document.getElementById("map"), {
                            zoom: 17,
                            center: center,
                        });
                    }

                    let latLng = new google.maps.LatLng(value.lat, value.lng);
                    marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        label:  {
                            text: `$${value.h_price} TWD`,
                            className: "mapLabel"
                        },
                    });

                    let infowindow = new google.maps.InfoWindow({
                        content: `<h1>${value.h_title}</h1><h3>$${value.h_price} TWD</h3>`
                    });

                    marker.addListener("click", () => {
                        infowindow.open({
                            anchor: marker,
                            map,
                            shouldFocus: false,
                        });
                    });
                })
            },

            error:function(){
                console.log('error');
            }
        });
    }

    window.initMap = initMap;

</script>

</body>
</html>