<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>房源管理系統</title>
    <link rel="icon" href="/houseship/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/houseship/css/style-admin-link.css">
    
</head>
<body class="sb-nav-fixed">

<header th:replace="/admin/header.html"></header>

<div id="layoutSidenav">

    <nav th:replace="/admin/sidebar.html"></nav>
    
    <div id="layoutSidenav_content">
        <!--   main start(由此放入各自的內容)   -->
        <main>
            <!-- 從這邊開始改 -->
            <div class="container-fluid px-4">
                <h1 class="mt-4">房源管理系統</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">House Management</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i> 房源總覽
                    </div>
                    <div class="card-body">
                        <!--表單內容可以從這開始 -->
                        <div>
                            <a href="#" th:href="@{/account/host/addnewhouse}"
                               style="margin-left: 1px; display: inline"><input
                                    class="btn-primary" type="submit" name="new" value="新增"></a>
                            <!-- 								<form style="display: inline" action="#" -->
                            <!-- 									method="post"> -->
                            <!-- 									<input style="margin-left: 10px; display: inline" -->
                            <!-- 										class="btn-warning" type="submit" value="批次刪除"> -->
                            <!-- 								</form> -->

                            <table id="datatablesSimple">
                                <thead>
                                <tr>
                                    <th >房屋編號</th>
                                    <th>房屋所有人</th>
                                    <th>房屋名稱</th>
                                    <th>服務編號</th>
                                    <th>規章標號</th>
                                    <th >功能</th>
                                    <th >功能</th>
                                    <th >功能</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="houseInfo : ${houseInfoList}">
                                        <td th:text="${houseInfo.houseNo}">House No</td>
                                        <td th:text="${houseInfo.member.account}">House Owner</td>
                                        <td th:text="${houseInfo.h_title}">House Title</td>
                                        <td th:text="${houseInfo.houseOffers.offersNo}">House Offers No</td>
                                        <td th:text="${houseInfo.houseRules.rulesNo}">House Rules No</td>
                                        <td class="text-center">
                                            <a href="#" th:href="@{/housedetails/{houseNo}(houseNo=*{houseInfo.houseNo})}" class="btn btn-primary" role="button">詳細</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#" th:href="@{/account/host/updatehouse/{houseNo}(houseNo=*{houseInfo.houseNo})}" class="btn btn-warning" role="button">修改</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#" th:href="@{/house/deletehouse/{houseNo}(houseNo=${houseInfo.houseNo})}" class="btn btn-danger" role="button">刪除</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="csv">匯出 csv</button>
                        <button class="json">匯出 json</button>
                        <button class="sql">匯出 sql</button>
                    </div>
                </div>
            </div>
        </main>
        <!--   main end     -->
        
        <footer th:replace="/admin/footer.html"></footer>
    </div>
</div>
<!-- JS -->
<div th:replace="/admin/js.html"></div>

</body>
</html>
